.name-container {
  display:flex;
  width:100%;
  background-color:hsl(0,0%,28%);;
  color:white;
  position:fixed;
  top:0px;
  left:0px;
  height:32px; 
  align-items: center;
}

.my-name {
  display: inline-block;
  font-weight: bold;
  padding: 2px 7px 2px 11px;
  border-radius: 10px;
  margin-left:75px;
}

.school-name-container {
  display:flex;
  position: fixed;
  top: 35px;
  left: 9px;
  background-color:rgb(240, 141, 92);
  color: white;
  align-items: center;
  height:28px;
  width:100%;
  top:32px;
  left:0;
}

.school-name {
  display: inline-block;
  font-weight: bold;
  padding: 2px 7px 2px 11px;
  border-radius: 10px;  
  margin-left:75px;
}

.logo-area {
  position: fixed;
  top:0;
  left:0;
  z-index:2;
  background-color: #333333;
  height:60px;
  border-radius: 0px 1000px 1000px 0px;
  width:70px;
}

.logo {
  position:fixed;
  width:46px;
  height:46px;
  top: 8px;
  left: 12px;
}
